* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  margin: 0;
  background-image: url(../assets/stadium\ 2.jpeg)
}

label {
  color: #ff1e56;
}

.word {
  color: #ffffff;
}

.hidden{
  display: none;
}

.controls-box {
  display: flex;
  color: #ffffff;
  background-color:#552244;
  justify-content: space-evenly;
  height: 70px;
  align-items: center;
}

.grid-box{
  margin: auto;
  height: 450px;
  background-color: #000000;
  background-size: cover;
  margin-top: 35px;
  display: flex;
  justify-content: center;
}

.grid {
  /* background-color: chartreuse; */
  height: 335px;
  width: 490px;
  display: flex;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  border: 6px solid greenyellow;
  /* justify-content: center; */
  /* flex-wrap: wrap; */
  /* align-items: center; */
}

.grid div{
  border: 3px solid #ff0000;
  border-radius: 20%;
  flex-grow: 1;
  width: 66px;
  height: 50px;
}

.grid div.Arsenal{
  background-image: url(../assets/arsenal.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
}

.grid div.Spurs{
  background-image: url(../assets/spurs.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.team-button{
  display: block;
}


/* Set Attribute Class to move my football on the grid */

[showFootball='true'] {
  background-image: url(../assets/football.png);
  background-size: contain;
  background-repeat: no-repeat;
}

/* BUTTON */
button {
	box-shadow:inset 7px -4px 27px 8px #f29c93;
	background:linear-gradient(to bottom, #fe1a00 5%, #ce0100 100%);
	background-color:#fe1a00;
	border-radius:3px;
	border:3px solid #d83526;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:20px;
	font-weight:bold;
	padding:6px 36px;
	text-decoration:none;
	text-shadow:0px 1px 0px #b23e35;
}